In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\DSBDA\student data\students_adaptability_level_online_education.csv")
print(df)

     Gender    Age Education Level Institution Type IT Student Location  \
0       Boy  21-25      University   Non Government         No      Yes
1      Girl  21-25      University   Non Government         No      Yes
2      Girl  16-20         College       Government         No      Yes
3      Girl  11-15          School   Non Government         No      Yes
4      Girl  16-20          School   Non Government         No      Yes
...     ...    ...             ...              ...        ...      ...
1200   Girl  16-20         College   Non Government         No      Yes
1201   Girl  16-20         College   Non Government         No       No
1202    Boy  11-15          School   Non Government         No      Yes
1203   Girl  16-20         College   Non Government         No       No
1204   Girl  11-15          School   Non Government         No      Yes

     Load-shedding Financial Condition Internet Type Network Type  \
0              Low                 Mid          Wifi           4G
1             High                 Mid   Mobile Data           4G
2              Low                 Mid          Wifi           4G
3              Low                 Mid   Mobile Data           4G
4              Low                Poor   Mobile Data           3G
...            ...                 ...           ...          ...
1200           Low                 Mid          Wifi           4G
1201          High                 Mid          Wifi           4G
1202           Low                 Mid   Mobile Data           3G
1203           Low                 Mid          Wifi           4G
1204           Low                Poor   Mobile Data           3G

     Class Duration Self Lms  Device Adaptivity Level
0               3-6       No     Tab         Moderate
1               1-3      Yes  Mobile         Moderate
2               1-3       No  Mobile         Moderate
3               1-3       No  Mobile         Moderate
4                 0       No  Mobile              Low
...             ...      ...     ...              ...
1200            1-3       No  Mobile              Low
1201            3-6       No  Mobile         Moderate
1202            1-3       No  Mobile         Moderate
1203            1-3       No  Mobile              Low
1204            1-3       No  Mobile         Moderate

[1205 rows x 14 columns]

In [6]:
df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [7]:
df.tail()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
1200,Girl,16-20,College,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Low
1201,Girl,16-20,College,Non Government,No,No,High,Mid,Wifi,4G,3-6,No,Mobile,Moderate
1202,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,No,Mobile,Moderate
1203,Girl,16-20,College,Non Government,No,No,Low,Mid,Wifi,4G,1-3,No,Mobile,Low
1204,Girl,11-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,Mobile,Moderate

In [4]:
df.isnull()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1201,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1202,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1203,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1204,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
df.describe()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
count,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205
unique,2,6,3,2,2,2,2,3,2,3,3,2,3,3
top,Boy,21-25,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
freq,663,374,530,823,901,935,1004,878,695,775,840,995,1013,625

In [8]:
df.head(n=1)

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate

In [9]:
df.columns

Index(['Gender', 'Age', 'Education Level', 'Institution Type', 'IT Student',
       'Location', 'Load-shedding', 'Financial Condition', 'Internet Type',
       'Network Type', 'Class Duration', 'Self Lms', 'Device',
       'Adaptivity Level'],
      dtype='object')

In [10]:
df.shape

(1205, 14)

In [11]:
df.dtypes

Gender                 object
Age                    object
Education Level        object
Institution Type       object
IT Student             object
Location               object
Load-shedding          object
Financial Condition    object
Internet Type          object
Network Type           object
Class Duration         object
Self Lms               object
Device                 object
Adaptivity Level       object
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               1205 non-null   object
 1   Age                  1205 non-null   object
 2   Education Level      1205 non-null   object
 3   Institution Type     1205 non-null   object
 4   IT Student           1205 non-null   object
 5   Location             1205 non-null   object
 6   Load-shedding        1205 non-null   object
 7   Financial Condition  1205 non-null   object
 8   Internet Type        1205 non-null   object
 9   Network Type         1205 non-null   object
 10  Class Duration       1205 non-null   object
 11  Self Lms             1205 non-null   object
 12  Device               1205 non-null   object
 13  Adaptivity Level     1205 non-null   object
dtypes: object(14)
memory usage: 131.9+ KB